body{
  width:100%;
  height:100%;
  background-color:#990000;
  margin-right:20px;
  margin-bottom:5%;
  min-width:600px;
}

#davidson_logo {
font-size: 50px;
text-align: center;	
font-family: "copperplate gothic lite";
text-shadow: 2px 2px 4px #FF0000;
}

#error_msg{
	font-size:17px;
	color:white;
	text-align: center;
	margin-top:10%;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/


/*filter search box*/
#filter {  
    background-color:#eeeeee;
    padding:10px;
    text-align:center;
    min-width:290px;
}
#filter_res{
	margin-top:10px;
	font-weight:bold;
	padding-bottom:5px;
	border-bottom:2px solid lightgray;
}

/*tooltip descriptions*/
.w3-tag{							
	background-color:#e6e6e6;
	opacity:0.7;
	position:absolute;
	z-index:1;
	color:black;
}

#by_keyword_sidenav, #search_sidenav{	/*For phone*/
	display:none;
}

/*Semester Filter*/

/*Professor Filter*/
#prof_list{		 
   height:250px;
   overflow:scroll;	
}
.prof_li {
  display:block;	  
  padding:3px;
  text-align:left;
}
.prof_li:hover{
	outline: 2px solid #cce6ff;
	cursor:pointer;	
	background-color:#d9d9d9;	
}
#prof_search{
	padding:5px;
}
#prof_search:focus{
   outline:2px solid #cce6ff;
   background-color: #cccccc;	
}

/*Department Filter*/
.dept_li {
  padding:0px;
  margin:0px;
}
.dept_text{
	margin-left:5px;	
}
.dept_text:hover{
	cursor:help;
}

.w3-row-padding, .w3-third{
	text-align:left;
}
#hidden_dept_scroll{
   	display:none;
   	padding:0px;
}
#hidden_dept_scroll ul{
   	padding:0px;
}
.hidden_dept_li{
	display:block;
	text-align:left;
	padding:3px;
	width:100%;
	border-bottom:1px solid #e6e6e6;
}
.hidden_dept_li:hover{
	outline: 2px solid #cce6ff;
	cursor:pointer;	
	background-color:#d9d9d9;	
}

/*Day Filter*/
#day_list{
	display:block;	
}
#day_acc{
	padding-bottom:7px;	
}
.day_li {
  display:inline;
  margin:3%;
  margin-right:20%;
  margin-left:12%;
  padding:5px;
  padding-top:7px;
}
#day_list{
	padding:0px;
}
.day_li{
	margin:0px;
}

/*Time Filter*/
.time_li {
  display:block;
}
#morn_aft{
	margin-top:10px;
	background-color:#cccccc;
	padding:5px;
	text-align:left;
}
.time_li{
	margin-left:none;
	margin:0px;
	margin-bottom:7px;
}
.time_list{
	margin-left:0px;
}
#time_list_MWF, #time_list_TR{
	padding:0px;
	text-align:left;	
}
.hidden_time_list{
	display:none;	
}
#hidden_morn_aft{
	display:none;	
}
#morn_aft_format{
	display:none;	
}

/*Distribution Requirement Filter*/
#dist_req_list{
   display:block;				
   width:100%;
   text-align:left;
   margin:0 auto;
}
.dist_req_text {
  padding:5px;
  font-size:15px;
  cursor:help;
}
#dist_acc{
	padding-top:5px;
	padding-bottom:7px;
	text-align:left;
}
.dist_req_li{
	padding:5px;
	padding-bottom:20px;	
}
.dist_text{
	margin-left:5px;
	cursor:help;
}
#hidden_dist_req_list{
	display:none;	
}

/*Class Size Filter*/
.class_size_li {
  display:block;
  text-align:left;
}

.text{
	margin-left:5px;
}

/*Filter by Selections button?*/
input[type="submit"]{			
	padding:7px;
	margin-top:20px;
	background-color:#cce6ff;
	color:black;
}
/*Clear Button*/
#clear-btn{
	margin-top:5%;
	background-color:#cccccc;
	color:black;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#course_desc_div{
	display:none;
	background-color: #e6e6e6;
	border:1px solid #e6e6e6;
	border-radius:4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
	position:fixed;
	top:5%;
	left:43%;
	width:40%;
	z-index:2;
	line-height:30px;	
	font-size: 40%;
}

#blackout{
	position:fixed;
	display:none;
	z-index:1;
	width:100%;
	height:100%;
	margin:0px;
	top:0px;
	left:0px;
	background-color:black;
	opacity:0.5;	
}

#opq_search_box{
	background-color:rgba(230, 210, 210, 0.8);
	margin:0 auto;
    margin-top:150px;
	height:150px;
	width:300px;
	border:1px solid #cccccc;
	padding:10px;
    padding-left:30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
	transition:0.5s;
}

/*Search box and button, before and after transformation*/
#by_keyword_long, #search_norm{
	display:none;
	margin-top:7px;
	text-align:left;
}
#gen_search_btn{
	padding:none;
	display:none;
	background-color:#cce6ff;
	border:1px solid #cccccc;
	width:40px;
	height:34px;
}
#icon_search{
	color:black;
	position:relative;
	right:5px;	
}
#gen_search_btn_home{
	display:inline-block;
}
#gen_search_btn_home{
	background-color:#cce6ff;
	padding:4px;
	padding-right:3px;
	padding-left:5px;
	padding-top:6px;
	width:40px;
	border:1px solid #cccccc;
}
#gen_search_mobile{
	display:none;
	background-color:#cce6ff;
	cursor:pointer;
	/*padding:4px;
	padding-right:3px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:3px;*/
	width:40px;
	border:1px solid #cccccc;	
}
#icon_search_mobile{
	padding-bottom:11px;
	position:relative;
	top:5px;
}
#icon_search_home{
	color:black;
	margin:0 auto;	
}
#by_keyword, #search_norm_home{
	display:inline-block;	
}
#search_norm{
	border:solid 1px #ccc;
	border-radius:2px;	
}
#search_norm:hover{
  cursor:auto;
}
#search_norm:focus{
	background-color: #cccccc;
	outline:2px solid #cce6ff;
}

#descript_page{
	background-color:rgba(250, 250, 250, 0.5);
	padding:10px;
	height:30%;
	font-family:"cambria";
	margin:0 auto;
	margin-top:5%;
	width:40%;
	outline:1px solid black;
	transition:0.5s;
	text-align:center;
}

.w3-opennav{
  background-color:rgba(230, 210, 210, 0.8);
  padding:10px;
}

#displayed_yr{
	margin-left:5%;
	color:#e6e6e6;	
	margin-top:15px;
	margin-bottom:0px;
	display:inline-block;
}
#displayed_count{
	color:#e6e6e6;	
	margin-top:15px;
	margin-bottom:0px;	
	display:inline-block;
	margin-right:5%;
	margin-left:70%;
}

/*Results list*/
#results{
  background-color:white;
  margin:5%;
  margin-top:5px;
  overflow:scroll;
  height:575px;
  width:90%;
  padding-right:30px;
  border-radius:4px;
  padding-top:20px;
  display:none;
  transition:0.5s;
  min-width:500px;
  font-size:80%;
}
#results li{
  display:block;
  padding:0px;
  border:1px solid #cccccc;
  border-radius:4px;
  background-color:#e6e6e6;
  box-shadow: 5px 5px 5px gray;
  margin-bottom:9px;
}
#results li:hover{
  cursor:pointer;
}
.results_th{
	color:#800000;	
}
.header_table_result{
	width:100%;	
	margin:0px;
}
.title_result{
	width:65%;
	padding:12px;
}
.prof_result{
	width:15%;
	padding:12px;
}
.CRN_result{
	width:15%;
	padding:12px;
}
.x_result{
	width:5%;
	padding:12px;
	margin:0 auto;
}

.search	{	      /*Search field*/
  display:inline-block;
  border:solid 1px #ccc;
  border-radius:2px;
  padding:7px 14px;
  margin-bottom:10px
}
.search:hover{
  cursor:auto;
}
.search:focus{
	outline:2px solid #cce6ff;
	background-color: #cccccc;	
}

.result_list {
  font-family:cambria;
  font-size:13px;
  padding:20px;
  height:500px;
  overflow:scroll;
}
#hidden_results_mobile{
	display:none;
	text-align:center;	
}
#help{
	display:none;
	color:#990000;
	padding:5px;
	margin-left:10px;
}
#help:hover{
	color:#800000;
	cursor:pointer;
	background-color:rgba(220, 200, 200, 0.8)	
}
#blackout{
	position:fixed;
	display:none;
	z-index:1;
	width:100%;
	height:100%;
	margin:0px;
	top:0px;
	left:0px;
	background-color:black;
	opacity:0.5;	
}
#help_div{
	display:none;
	background-color:white;
	border:1px solid #e6e6e6;
	border-radius:4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
	padding:15px;
	position:fixed;
	top:20%;
	left:48%;
	width:30%;
	z-index:2;	
}
#close_btn_help{
	float:right;
	margin:5px;	
	width:25px;
	height:25px;
	cursor:pointer;
}
.question{
	padding:5px;
	border-bottom:2px solid #cccccc;
}

@media only screen and (max-width: 500px) {
	#results{
		height:450px;
		width:90vw;
		margin-left:0px;
	}
	#hidden_results_mobile{
		display:inline;	
	}
	#results_table{
		display:none;	
	}
	#opq_search_box{
		display:none;
	}
	#by_keyword_sidenav{
		display:block;
	}
	#search_sidenav{
		margin:0 auto;
		margin-bottom:10px;
		display:inline-block;
	}
	#gen_search_mobile{
		display:inline-block;	
	}
	#by_keyword_sidenav{
		font-weight:bold;
	}
	#results{
		padding:none;
		margin-top:5%;
	}
	#davidson_logo{
		display:none;
	}
	#descript_page{
		width:90%;
		margin-left:5%;
		margin-top:10%;
		height:300px;
	}	
}

@media only screen and (max-width: 1200px){
	#hidden_dept_scroll{
		display:block;
		height:250px;
   		overflow:scroll;
	}
	.dept_list{
		display:none;	
	}
	.hidden_time_list{
		display:block;	
	}	
	/*.time_list{
		display:none;	
	}*/
	#hidden_morn_aft{
		display:block;	
		margin-top:10px;
		background-color:#cccccc;
		padding:5px;
		text-align:left;
	}
	#time_TR_div{
		margin:0px;
		display:block;
		float:none;	
	}
	#morn_aft{
		display:none;	
	}
	#hidden_dist_req_list{
		display:inline;	
	}
	/*.dist_req_list{
		display:none;	
	}*/
}
