<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href={{url_for('static',filename='upload.css')}}>
        <title>My Courses - Syllabi Upload</title>
      <script>
      function getids(){
        var x = document.getElementsByname("crs_id")

      }
      </script>
</head>
<body>
	<h4 id="davidson_logo">DAVIDSON COLLEGE</h4>
	<div id="upload_div">
	<h2 id="syllabus_upload">Syllabus Upload</h2>
	<p id="you_teach">Please upload your syllabus for each of the following courses. Under "Visitable", check whether you would want prospective students to visit your class ("Can visit") or not ("Not open"). Under "Privacy," please check whether everyone can view your syllabus ("Anyone") or only those on the Davidson network ("Only Davidson"). </p>
			
	{% if courses|length > 0 %}
 		
			{% set start_yr = courses[0].acad_period[:4] %}
			{% set end_yr = ((start_yr)|int + 1)|string %}

			{% if courses[0].acad_period[-2:] == "01" %}

				<h3 id="profs_courses">Professor {{ courses[0].instructor1[:-2]|string }}'s Courses for Fall {{ start_yr }}</h3>
			{% else %}
				<h3 id="profs_courses">Professor {{ courses[0].instructor1[:-2]|string }}'s Courses for Spring {{ end_yr }}</h3>
			{% endif %}

	  <form action={{url_for('make_updates')}} method="post" enctype="multipart/form-data">
      <table id="class_table">
			<thead>				
				<tr>
					<th name="dep">Dept</th>
					<th name="course_num">Crs</th>
					<th name="class_section">Sec</th>
					<th name="CRN">CRN</th>
					<th name="title">Title</th>
					<th name="class_days">Days</th>
					<th name="class_time">Time</th>
					<th name="class_place">Location</th>
					
				</tr>
			</thead>
      <tbody>

        {% for c in courses %}
          <tr>
            <tr class="gen_course_row" style="background-color:#d9d9d9;">	
	           <tr>
		           <td style="padding:10px;" name="dep{{loop.index0}}">{{ c.subject }}</td>
		           <td style="padding:10px;" name="course_num{{loop.index0}}">{{ c.course_num }}</td>
		           <td style="padding:10px;" name="class_section{{loop.index0}}">{{ c.seq_num }}</td>
		           <td style="padding:10px;" name="CRN{{loop.index0}}">{{ c.CRN }}</td>
		           <td style="padding:10px;" name="title{{loop.index0}}">{{ c.course_title }}</td>
		           <td style="padding:10px;" name="class_days{{loop.index0}}">{{ c.meet_days }}</td>
		           <td style="padding:10px;" name="class_time{{loop.index0}}">{{ c.class_time }}</td>
		           <td style="padding:10px;" name="class_place{{loop.index0}}">{{ c.bldg_code + " " + c.room_code }}</td>
			</tr>
			<tr>
				<td colspan="3" name="syllabus_link{{loop.index0}}"><p>Current Syllabus: 
				  {% if c.syllabus_link != "" %}
				  <a href = {{url_for('download',file_path=c.syllabus_link)}} target = "blank">Download
				  </a>
				  {% else %}
				  None
				  {% endif %}				  
				  </p>
				  <p>Upload New: <input type="file" name="syllabus_link{{loop.index0}}" size="40"></p></td>
				</td>
		{% if c.visitable == "Can visit" %}
				<td colspan="2" name="visitable{{loop.index0}}">
					<input type="radio" name="visitable{{loop.index0}}" value="Can visit" checked> Can visit <br >
					<input type="radio" name="visitable{{loop.index0}}" value="Not open"> Not open</td>
				{% else %}
				<td colspan="2" name="visitable{{loop.index0}}">
					<input type="radio" name="visitable{{loop.index0}}" value="Can visit"> Can visit <br >
					<input type="radio" name="visitable{{loop.index0}}" value="Not open" checked> Not open</td>
				{% endif %}
				{% if c.privacy == "All" %}
				<td colspan="2" name="privacy{{loop.index0}}">
					<input type="radio" name="privacy{{loop.index0}}" value="All" checked> Anyone <br >
					<input type="radio" name="privacy{{loop.index0}}" value="Davidson"> Only Davidson </td>
				{% else %}
				<td colspan="2" name="privacy{{loop.index0}}">
					<input type="radio" name="privacy{{loop.index0}}" value="All"> Anyone <br >
					<input type="radio" name="privacy{{loop.index0}}" value="Davidson" checked> Only Davidson </td>
				{% endif %}
				<td name="learning_outcomes_txt{{loop.index0}}">
					{% if c.learning_outcomes == "Cut learning outcomes from syllabus and paste them here" %}
					<textarea id="lo" rows="5" cols="30" name="learning_outcomes_txt{{loop.index0}}" style="background-color: #cce5ff">{{ c.learning_outcomes }}</textarea>
					{% elif c.learning_outcomes == "" %}
					<textarea id="lo" rows="5" cols="30" name="learning_outcomes_txt{{loop.index0}}" style="background-color: #cce5ff">{{ c.learning_outcomes }}</textarea>
					{% else %}
					<textarea id="lo" rows="5" cols="30" name="learning_outcomes_txt{{loop.index0}}">{{ c.learning_outcomes }}</textarea>
					{% endif %}
				</td>
											
          </tr>

        {% endfor %}
      </tbody>

	{% endif %}
        </table><br>
        <input type="text" value="{{db_name}}" name = "db_name" hidden><br>
    	<input type="text" value="{{semester}}" name = "semester" hidden>
	  	<input id="submit_changes" type="submit" value="Submit" >
	</form>
    <br />
    <br />
    {% if inst2_courses|length > 0 %}
    	{% if inst2_courses|length == 1 %}
 			<p id="you_teach"><b>NOTE:</b> You are listed as the second professor for a course. The faculty member listed under 'Instructor1' is responsible for uploading the syllabus for the course.</p>
 		{% elif inst2_courses|length > 1 %}
 			<p id="you_teach"><b>NOTE:</b> You are listed as the second professor for several courses. The faculty member listed under 'Instructor1' is responsible for uploading the syllabus for each course.</p>
 		{% endif %}
 		
      <table id="class_table">
			<thead>				
				<tr>
					<th name="dep">Dept</th>
					<th name="course_num">Crs</th>
					<th name="class_section">Sec</th>
					<th name="CRN">CRN</th>
					<th name="title">Title</th>
					<th name="instructor1">Instructor1</th>
					<th name="instructor2">Instructor2</th>
					<th name="class_days">Days</th>
					<th name="class_time">Time</th>
					<th name="class_place">Location</th>				
				</tr>
			</thead>
      <tbody>

        {% for c in inst2_courses %}
          <tr>
            <tr>
				<td name="dep{{loop.index0}}">{{ c.subject }}</td>
				<td name="course_num{{loop.index0}}">{{ c.course_num }}</td>
				<td name="class_section{{loop.index0}}">{{ c.seq_num }}</td>
				<td name="CRN{{loop.index0}}">{{ c.CRN }}</td>
				<td name="title{{loop.index0}}">{{ c.course_title }}</td>
				<td name="instructor1{{loop.index0}}">{{ c.instructor1 }}</td>
				<td name="instructor2{{loop.index0}}">{{ c.instructor2 }}</td>
				<td name="class_days{{loop.index0}}">{{ c.meet_days }}</td>
				<td name="class_time{{loop.index0}}">{{ c.class_time }}</td>
				<td name="class_place{{loop.index0}}">{{ c.bldg_code + " " + c.room_code }}</td>
				</td>
											
          </tr>

        {% endfor %}
      </tbody>    
    {% endif %}

</body>

</html>
