<!DOCTYPE>
<html>
	<header>
		<link rel="stylesheet" type="text/css" href={{url_for('static',filename='syl_manager.css')}}>
		<script type="text/javascript" src={{url_for('static', filename='syl_manager.js')}}></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script>
		function fillColor() {
			var loStatusBtn = document.getElementsByClassName('lo-status-btn');
			if (loStatusBtn.length > 0) {
				for (i=0; i<loStatusBtn.length; i++){
					var btn = document.getElementById('lo-status-btn_'+String(i))
					
					if (btn.value == "Not submitted") {
						btn.style.background = 'red';
					}
					if (btn.value == "Not viewed") {
						btn.style.background = 'orange';
					}
					if (btn.value == "Viewed, needs edits") {
						btn.style.background = 'yellow';
						btn.style.color = "black";
					}
					if (btn.value == "Approved") {
						btn.style.background = '#4CAF50';
					}
				}
			}
		}
		function showLoStatusWindow(divID, status){
			var status_dictionary = {}
			status_dictionary["Not submitted"]="not_submitted";
			status_dictionary["Not viewed"]="not_viewed";
			status_dictionary["Viewed, needs edits"]="needs_edits";
			status_dictionary["Approved"]="approved";
			
			var curDiv = document.getElementById(divID);
			var statusValue = status_dictionary[status]
			var statusRadio = document.getElementById(statusValue);
			statusRadio.checked = true; 
			curDiv.style.display = "block";
			hideOptionMenu();
			document.getElementById("blackout").style.display = "block";
		}
		function showLoStatusBox(lo, status, CRN) {
			if (lo == 'Cut learning outcomes from syllabus and paste them here') {
				document.getElementById('current_lo').innerHTML = "Learning outcomes not submitted.";
				document.getElementById('CRN').value = CRN;
			}
			else {
				document.getElementById('current_lo').innerHTML = lo;
				document.getElementById('CRN').value = CRN;
			}
			showLoStatusWindow('course_status', status);
		}
		function closeStatusBox(divID){
			var curDiv = document.getElementById(divID);
			curDiv.style.display = "none";
			document.getElementById("blackout").style.display = "none";
			restoreRecipientList();
		}
		</script>
	</header>	
	
	<body onload="fillColor()">
		
		
<!***********************  Group Email for Professors Missing Syllabi  **************************-->
		<!-- Currently, we probably do not need Send From or Send To, so we should consider removing those -->
		<div id="email_syl_div">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" id="close_btn_email" onclick="closeEmail('email_syl_div')"/> <!--close button-->
			<p>Default Email: </p>
			
			<label>Send From: </label><input type="text" id="send_from_input_box" name="send_from"/><br>
				
			<p style="text-align:left;">Send To: <span onclick="showRecipients()" id="click_edit_recip">Click to edit the list of recipients</span></p>
			
			<input type="text" id="search_recip" placeholder="Search Recipients..." oninput="filterRecip()" value=""/>
			<div id="hidden_rec_lst_syl">
				{% for i in recipients %}
					<span class="email_recipient" id="{{i}}_span"><span class="email_rec_span" style="display:inline-block;" id="{{i}}">{{i}}</span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" style="cursor:pointer;" class="close_recipient" onclick="deleteRecipient('{{i}}_span')"/></span>
				{% endfor %}
			</div>
			
			<div id="default_email" name="default_email" contenteditable>You are receiving this email because you have yet to submit a syllabus for your Introduction to Biological Programming Course for Spring 2022. Please submit your syllabus by January 1st to avoid getting subsequent angry emails from us with possible incurring consequences. You may view all of the courses you have submitted syllabi for from the general search page or from the syllabi upload page. If you believe you are receiving this email by mistake, please email asyllabusislife@hotmail.com with your argument. Thank you!</div><br>
			<input type="button" id="cancel_email_syl" value="Cancel" name="cancel" onclick="closeEmail('email_syl_div')"/>
			<input type="button" id="send_email_syl" value="Send" onclick="sendEmail()" name="send"/>
			<form name="grp_syl_email" action="{{ url_for('email') }}" method="post" enctype="multipart/form-data">
			<input type="button" name="message" id="send_email_msg" value="" style="display:none;"/>
			<input type="submit" name="recipients" id="send_email" value="" style="display:none;"/>
			</form>
		</div>
		

<!--***********************  Group Email for Professors Missing Learning Outcomes  ******************-->	

		<div id="email_lo_div">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" id="close_btn_email" onclick="closeEmail('email_lo_div')"/>
			<p>Default Email: </p>
			
			<label>Send From: </label><input type="text" id="send_from_input_box" name="send_from"/><br>
				
			<label>Send To: </label>
			<div id="send_to_input_box" name="send_to">
			<span class="email_recipient"><span style="display:inline-block;">Alexander-Lee, Ashley </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Williams, Katy </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Mulat, Hermon </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Person, Hello </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			</div><br>
				
			<div id="default_email" name="default_email" contenteditable>You are receiving this email because you have yet to submit Learning Outcomes for your Introduction to Biological Programming Course for Spring 2022. Please submit your syllabus by January 1st to avoid getting subsequent angry emails from us with possible incurring consequences. You may view all of the courses you have submitted syllabi for from the general search page or from the syllabi upload page. If you believe you are receiving this email by mistake, please email asyllabusislife@hotmail.com with your argument. Thank you!</div><br>
			<input type="button" id="cancel_email_syl" value="Cancel" name="cancel" onclick="closeEmail('email_lo_div')"/>
			<input type="button" id="send_email_syl" value="Send" name="send"/>
		</div>
		
<!--***************************  Learning Outcomes Status Box for Specific Course **************************-->
		<div id="course_status">
			<form action="{{ url_for('update_status')}}" method="post" enctype="multipart/form-data">
				<input type="text" name="activeprof" value="{{ active_prof }}" style="display:none;">
				<input type="text" name="activedep" value="{{ active_dep }}" style="display:none;">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" id="close_btn_email" onclick="closeStatusBox('course_status')"/>
				<p id="current_lo"></p>
				<input type="text" name="CRN" id="CRN" value="" style="display:none;"></p>
			
				<input type="radio" id="not_submitted"name="status" value="not_submitted">Not submitted</input><br />
				<input type="radio" id="not_viewed" name="status" value="not_viewed">Not viewed</input><br />
				<input type="radio" id="needs_edits" name="status" value="needs_edits">Viewed, needs edits</input><br />
				<input type="radio" id="approved" name="status" value="approved">Approved</input><br />
				<input type="submit" value="Submit Status Change">
			</form>
		</div>		
		
<!--**********************  Individual Email for Specific Professor Missing a Syllabus  ********************-->
		
		<div id="ind_email">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" id="close_btn_email" onclick="closeEmail('ind_email')"/>
			<p>Default Email: </p>
			
			<label>Send From: </label><input type="text" id="send_from_input_box_ind" name="send_from"/><br>
				
			<label>Send To: </label>
			<div id="send_to_input_box_ind" name="send_to">
			</div><br>
				
			<div id="default_email" name="default_email" contenteditable>You are receiving this email because you have yet to submit a syllabus for your Introduction to Biological Programming Course for Spring 2022. Please submit your syllabus by January 1st to avoid getting subsequent angry emails from us with possible incurring consequences. You may view all of the courses you have submitted syllabi for from the general search page or from the syllabi upload page. If you believe you are receiving this email by mistake, please email asyllabusislife@hotmail.com with your argument. Thank you!</div><br>
			<input type="button" id="cancel_email_syl" value="Cancel" name="cancel" onclick="cancelEmail('ind_email')"/>
			<input type="button" id="send_email_syl" value="Send" name="send"/>
		</div>
		
		
		
<!--**********************  Individual Email for Specific Professor Missing Learning Outcomes  *****************-->

		<div id="ind_email_lo">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" id="close_btn_email" onclick="closeEmail('ind_email_lo')"/>
			<p>Default Email: </p>
			
			<label>Send From: </label><input type="text" id="send_from_input_box_ind" name="send_from"/><br>
				
			<label>Send To: </label>
			<div id="send_to_input_box" name="send_to">
			<span class="email_recipient"><span style="display:inline-block;">Alexander-Lee, Ashley </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Williams, Katy </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Mulat, Hermon </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			<span class="email_recipient"><span style="display:inline-block;">Person, Hello </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" class="close_recipient" onclick="closeRecipient()"/></span>
			</div><br>
				
			<div id="default_email" name="default_email" contenteditable>You are receiving this email because you have yet to submit a syllabus for your Introduction to Biological Programming Course for Spring 2022. Please submit your syllabus by January 1st to avoid getting subsequent angry emails from us with possible incurring consequences. You may view all of the courses you have submitted syllabi for from the general search page or from the syllabi upload page. If you believe you are receiving this email by mistake, please email asyllabusislife@hotmail.com with your argument. Thank you!</div><br>
			<input type="button" id="cancel_email_syl" value="Cancel" name="cancel" onclick="cancelEmail('ind_email_lo')"/>
			<input type="button" id="send_email_syl" value="Send" name="send"/>
		</div>



<!--********************* Div that blacks out screen behind an email box ******************************-->

		<div id="blackout">
		</div>
		
	
<!--********************************* Option Nav on Right ***********************************************-->

		<p id="options" onclick="showOptionMenu()">Options</p>
			<div id="option_menu">
				<img class="close_icon" id="close_btn_option" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/768px-VisualEditor_-_Icon_-_Close_-_white.svg.png" onclick="hideOptionMenu()"/><br>
				<p id="option_p_head">Options</p>
				<div id="login_info">
					<p>You are logged in as: {{user}}</p><br>
					<a href="search.html" id="logout">Logout</a>
				</div>
				<p class="nav_option nav_link" onclick="showEmailWindow('email_syl_div')">Send emails to all professors missing syllabi</p>			
				<p class="nav_option nav_link" onclick="showEmailWindow('email_lo_div')">Send emails to all professors missing learning outcomes</p>
				<p class="nav_option nav_link" onclick="showQuickInfo()">Show Statistics</p><!-- Later, we might want to add this functionality -->
				<!--<p class="nav_option nav_link">Show Word Cloud</p>
				<p class="nav_option nav_link">Show Status of Syllabi By Department</p>
				<p class="nav_option nav_link" onclick="autoClick('archive')">Archive ALL Syllabi for Current Semester</p>-->
			</div>

<!--*****************************  Quick Info: the stats in the dark gray horizontal bar **************** -->
	<div id="quick_info"><!--<span style="color:black;position:relative;left:8px;top:8px;font-size:20px;cursor:pointer;" onclick="closeQuickInfo(this);" id="close_quick_info">&times;</span>-->
				<table style="width:80%;margin:0 auto;position:relative;top:10px;bottom:10px;">
					<tr>
						<td>No. Syllabi Outstanding:<br><p class="answers"><span class="first">{{ miss_syl }}</span></p></td>
						<td>No. Professors Missing Syllabi:<br><p class="answers"><span class="first">{{ miss_prof }}</span></p></td>
					</tr>
				</table>		
			</div>

<!--************************************  Main Body  *****************************************************-->

		<div id="main_body">			
	
			<h2 id="welcome">WELCOME, {{user}}. &nbsp;&nbsp; &nbsp;&nbsp; ACADEMIC PERIOD: {{ semester }}</h2>
			
			<form name="show_hide_form" action="{{ url_for('manage_form') }}" method="post" enctype="multipart/form-data">
			

			
			<!--*****************************  Department Scroll  ****************************************-->
			
				<div id="dept_search">
					<input type="text" id="dep_search_bar" oninput="filterDeps()" placeholder="Search for a department..."/>	<div id="dep_list">
					{% for d in depsSorted %}
						{% if deps[d] == "True" %}
							<span><input type="submit" id="{{d}}" class="dep_li has_syllabus_dep" name="submit" value="{{ d }}" onmouseover="animateChoice(this)" onmouseout="unAnimateChoice(this)"/></span>
						{% else %}
							<span><input type="submit" id="{{d}}" class="dep_li no_syllabus_dep" name="submit" value="{{ d }}" onmouseover="animateChoice(this)" onmouseout="unAnimateChoice(this)"/></span>
						{% endif %}
						
					{% endfor %}
					</div>
					<input name="selected_dep" value="{{ selected_dep }}" style="display:none;"/>
					
					<p id="show_deps" class="button" onclick="showDepsBtn()">Show Only Departments with Missing Syllabi</p>
					
					<input type="text" id="dep_btn_submit_ID" name="dep_btn_submit" value="False" hidden/>
					{% if depBtnOn == "True" %}
						<script>document.getElementById("show_deps").click();</script>
					{% endif %}
				</div> <!-- End dept_search -->
				

				
				
			<!--*****************************  Professor Scroll  ****************************************-->

			<div id="prof_search_container">
				<div id="prof_search">
					{% for p in profsSorted %}
						{% if profs[p] == "True" %}
							<input type="submit" id="{{p}}" onmouseover="animateChoice(this);" onmouseout="unAnimateChoice(this);" class="prof_li has_syllabus_prof" name="submit" value="{{ p }}">
						{% else %}
							<input type="submit" id="{{p}}" onmouseover="animateChoice(this);" onmouseout="unAnimateChoice(this);" class="prof_li no_syllabus_prof" name="submit" value="{{ p }}">
						{% endif %}
					{% endfor %}
					{% if profsSorted|length > 10 %}
						<script>document.getElementById('prof_search').style.overflowY = 'scroll';</script>
					{% endif %}
				</div> <!-- End prof_search -->
				<p id="show_profs" class="button" onclick="showProfsBtn()">Show Only Professors with Missing Syllabi in Chosen Department</p>
				
				<input type="text" id="prof_btn_submit_ID" name="prof_btn_submit" value="False" hidden/>
				{% if profBtnOn == "True" %}
					<script>document.getElementById("show_profs").click();</script>
				{% endif %}			
			</div> <!-- End prof_search_container -->
			
			<!--*****************************  Chart of Course Results  ****************************************-->
				{% if profs_courses != "" %}

				<div id="syl_status_box">
					<p class="status_head">{{active_dep}}, {{active_prof}}</p>
					<img class="close_icon" id="close_stat" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/1000px-VisualEditor_-_Icon_-_Close.svg.png" onclick="hideStatBox()"><br>
					<div id="syl_status_table">
					<table>
						<tr id="head_row">
							<th>Dept</th>
							<th>No.</th>
							<th>Title</th>
							<th>Section</th>
							<th>Day</th>
							<th>Time</th>
							<th>Syllabus Available?</th>
							<th>Learning Outcomes?</th>
						</tr>
						
						{% for c in profs_courses %}
						<tr>
							<td>{{ c.subject }}</td>
							<td>{{ c.course_num }}</td>
							<td>{{ c.course_title }}</td>
							<td>{{ c.seq_num }}</td>
							<td>{{ c.meet_days }}</td>
							<td>{{ c.class_time }}</td> 
							{% if c.syllabus_link %}
								<td><a class="syllabus_link" href="{{url_for('download', file_path=c.syllabus_link) }}" target='blank'>Download</a></td>
							{% else %}
								<td><p class="not_avail" onmouseover="showTooltip('send_ind_email_{{loop.index0}}')" onmouseout="hideTooltip('send_ind_email_{{loop.index0}}')">Not Submitted <span id="send_ind_email_{{loop.index0}}" onclick="showIndEmail('{{active_prof}}')" class="tooltip"> Send an email</span></p></td>				
							{% endif %}
							<td><input class="lo-status-btn" id="lo-status-btn_{{loop.index0}}" type="button" value="{{ c.lo_status }}" onclick="showLoStatusBox('{{c.learning_outcomes}}', '{{c.lo_status}}', '{{c.CRN}}')"/></td>
						</tr>
						{% endfor %}
					</table>
					</div>
				</div>
				{% endif %}
				<br>
	
			<!--******************************  Keeps track of active fields  ***************************-->
			
				<input type="text" name = "active_dep" value="{{active_dep}}" hidden> 
				<input type="text" value="{{ active_prof }}"  name = "active_prof" hidden>			
				
				
				
			<!--*****************************  Keeps your selection blue  ****************************************-->
			
				{% if active_dep %}
					<script>
						var actDep = document.getElementById("{{active_dep}}");
						animateChoice(actDep);
					</script>
				{% endif %}
				{% if active_prof %}
					<script>
						var actProf = document.getElementById("{{active_prof}}");
						animateChoice(actProf);
					</script>
					{% endif %}			
                     <input type="text" id="quick_info_status" name="quick_info_status" value="{{quick_info}}" style="display:none;"/>	
					<input type="text" id="username_info" name="username" value="{{user}}" style="display:none;"/>  					{% if quick_info == "closed" %}			
						<script>			
						var quick_info = document.getElementById('close_quick_info');			
						closeQuickInfo(quick_info);
						</script>
					{% endif %}
				
				</form>
				
		</div>
		
		{% for i in recipients %}
			<script>
				EMAIL_RECIPIENTS_EDIT.push('{{i}}');
				EMAIL_RECIPIENTS.push('{{i}}');
			</script>
		{% endfor %}		
				
	<!--*****************************  Davidson Logo  ****************************************-->
	
	<img src="http://marketing-toolbox.davidson.edu/wp-content/uploads/2015/07/white-letters-white-bar-transparent-diamond-logo.png" id="davidson_logo"/>
	</body>
</html>
